@model GetCargoCustomerByIdDto

@{
    ViewData["Title"] = "UserAddressInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">

                    <h3>Kullanıcı Adres ve İletişim Bilgisi</h3>
                    <div class="alert alert-info">Kullanıcı Id:<b>@Model.cargoCustomerId</b></div>
                    <div class="alert alert-warning">Kullanıcı Adı Soyadı:<b>@Model.name @Model.surname</b></div>
                    <div class="alert alert-info">Email Adresi: <b>@Model.email</b></div>
                    <div class="alert alert-warning">Telefon: <b>@Model.phone</b></div>
                    <div class="alert alert-info">İlçe-Şehir: <b>@Model.district/@Model.city</b></div>
                    <div class="alert alert-warning">Adres: <b>@Model.address</b></div>
                </div>
            </div>
        </div>
    </div>
